.subTmt{
    background-color: #825AA5 !important;
    color: white !important;
}
.dfMuHY {
    height: 150px !important;
    overflow: hidden !important;
    z-index: 4 !important;
}


.dfMuHY .wrapper {

    border-radius: 5px !important;
    border-color: rgba(173, 173, 171, 0.534) !important;
   
}



.bIsGwU {
   
    display: none !important;
}